<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mr_security</name>
	<displayName><![CDATA[MrSecurity]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Scan and clean your site of vulnerabilities published by Friend of Prestashop (FOP)]]></description>
	<author><![CDATA[MaTe0r]]></author>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
</module>
